@model OverTheTop2.Models.SubCategory

@{
    ViewBag.Title = "Details";
}
<div class="card shadow">
    <h1>@Model.Name</h1>
    @Html.ActionLink("Edit Title/ Before & After Images", "Edit", "SubCategories", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>

@{
    if (!String.IsNullOrEmpty(Model.Afterimg) || !String.IsNullOrEmpty(Model.Afterimg))
    {
        <div class="row">


            <div class="col-md-6">
                <div class="card shadow">
                    <h1>Before</h1>
                    <img src="@Url.Content(Model.Beforeimg)" class="squareImg" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <h1>After</h1>
                    <img src="@Url.Content(Model.Afterimg)" class="squareImg" />
                </div>
            </div>
        </div>
    }}

<div class="row  card shadow">
    <div class="col-md-4">
        @Html.ActionLink("Add Images", "Add", "SubCategoryImages", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>

</div>
    @{ var imgs = Model.SubCategoryImages.ToList();}
 
    <div class="row">
       
        @for (int i = 0; i < Model.SubCategoryImages.Count; i++)
        {
            if (i > 0 && i % 4 == 0)
            {
            @:</div><div class="row">
            }

            <div class="col-md-3 ">
                <div class="card shadow">
                    <img src="@Url.Content(imgs[i].directory)" class="squareImg" />
                    @Html.ActionLink("Delete", "Delete", "SubCategoryImages", new { id = imgs[i].id, subCAt = Model.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure you want to delete?');" })
                </div>



            </div>
        }
    </div>

