@model IEnumerable<OverTheTop2.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="row mission-card">
    <div class="col-lg-12 ">

        <h3>&emsp; Our obligation to you is to enhance the structural integrity of your boat's transom, stringer, and floors with custom solutions that deliver satisfaction. We design and build cabinets, benches, and stairs that beautify your boat interior while optimizing space and function. We obsess over details and work meticulously, treating every boat like it's our own.</h3>
        <p class="text-right">- John Van Geemen</p>
    </div>
</div>

<div class="row ">
    @foreach (var category in Model)
    {
        
        <div class="col-lg-6">
            <div class="card shadow">

            <div class="row">
                <div class="col-lg-12">
                    <h1><a runat="server" href="#">@category.Name</a></h1>
                    <h5 class="well">&emsp; @category.Description</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group">
                        @foreach (var sub in category.SubCategory)
                        {
                            @Html.ActionLink(sub.Name, "Index", "SubCategory", new { id = category.id }, new { @class = "list-group-item" })
                        }
                    </ul>

                </div>
            </div>
                <div class="row">



                    <div class="col-lg-12">
                        <div id="StructuralCarousel" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                @for (var i = 0; i < category.CategoryImages.Count(); i++)
                                {
                                    var active = "";
                                    if (i == 0)
                                    {
                                        active = "active";

                                    }
                                    else
                                    {
                                        active = "";
                                    }
                                    <li data-target="#@category.Name.Replace(" ", String.Empty);" data-slide-to="@i" class="@active"></li>
                                }
                            </ol>


                            <div class="carousel-inner">
                                @{
                                    var im = 0;
                                }
                                @foreach (var img in category.CategoryImages)
                                {
                                    var active = "";
                                    if (im == 0)
                                    {
                                        active = "item active";

                                    }
                                    else
                                    {
                                        active = "item";
                                    }
                                    <div class="@active">
                                        <img src="@Url.Content(img.Image)" value="@img.Image"/>
                                    </div>
                                    im++;
                                }
                            </div>


                            <a class="left carousel-control" href="#StructuralCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#StructuralCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        

    }
</div>
